<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Battleship2pMP.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <Battleship2pMP.Settings>
      <setting name="Carriers" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Battleships" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Cruisers" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Destroyers" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="Submarines" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="ShotsFirstTurn" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="ShotsPerTurn" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PostTurnDelay" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="LastIP" serializeAs="String">
        <value />
      </setting>
      <setting name="Port" serializeAs="String">
        <value>30664</value>
      </setting>
    </Battleship2pMP.Settings>
  </userSettings>
</configuration>